n8n_SlackChatbot/IT support chatbot with Google Drive, Pinecone & Gemini _ AI doc processing.json
{
  "name": "IT support chatbot with Google Drive, Pinecone & Gemini | AI doc processing",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a knowledgeable and helpful assistant. Respond with clear, concise, and detailed answers formatted in markdown. Use proper markdown formatting including headings, bullet points, numbered lists, code blocks, and other structures as needed to improve readability and clarity. Provide links to relevant documentation when applicable."
        }
      },
      "id": "e7769ee7-a247-426e-b792-c095597ada54",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1424,
        976
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12Ous3-wBea1tBpyW4jCYmh3H_RGRmwtb",
          "mode": "list",
          "cachedResultName": "test documentation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12Ous3-wBea1tBpyW4jCYmh3H_RGRmwtb"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "72ca46ad-891f-42f2-81d7-00e04e1c6f5f",
      "name": "Monitor Google Drive for New Files",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MRR4LupovhyEEVFE",
          "name": "Mark"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "03e9dc61-bdba-49d7-859e-73b8adebae41",
      "name": "Download File from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        592,
        240
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MRR4LupovhyEEVFE",
          "name": "Mark"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "782fc162-0c3f-40fc-af92-455c1250ede0",
      "name": "Extract PDF Content",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        816,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-pinecone",
          "mode": "list",
          "cachedResultName": "n8n-pinecone"
        },
        "options": {}
      },
      "id": "b8da9cff-756b-419e-b39a-4ad1020092d0",
      "name": "Insert Document into Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1248,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "B4a7ll8IMHpVBvF0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawData = $json[\"text\"];\nconst cleanedData = rawData\n  .replace(/(\\r\\n|\\n|\\r)/gm, \" \")   // remove line breaks\n  .trim()                           // remove extra spaces\n  //replace(/[^\\w\\s]/gi, \"\");         // remove special characters\nreturn { cleanedData };\n"
      },
      "id": "b5277663-3120-4614-85e3-f7dc05c4e1c2",
      "name": "Clean and Normalize PDF Text",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "68aa5515-6b58-4e98-ab08-4d9516e1f2a3",
      "name": "Load Document Data for Processing",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1376,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 300,
        "options": {}
      },
      "id": "3f463338-c692-4b7b-a888-8c00d190c441",
      "name": "Split Document Text into Chunks",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1280,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-pinecone",
          "mode": "list",
          "cachedResultName": "n8n-pinecone"
        },
        "prompt": "={{ $json.question }}",
        "options": {}
      },
      "id": "ee62efc9-60b2-40ec-a10c-8897d24b1429",
      "name": "Retrieve Relevant Documents from Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        848,
        976
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "B4a7ll8IMHpVBvF0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get user query and channel info from the Code in JavaScript node\nconst codeData = $('Code in JavaScript').first().json;\nconst userQuery = codeData.question;\nconst channelId = codeData.channel;\nconst userId = codeData.user;\nconst threadTs = codeData.thread_ts;\nconst eventTs = codeData.event_ts;\n\n// Retrieve the user query from the previous node output.\n// Assuming the Pinecone node has passed an array of items where each item has a document and score:\nlet documents = items.map(item => {\n  return {\n    pageContent: item.json.document.pageContent,\n    score: item.json.score\n  };\n});\n\n// Sort the documents by their score in descending order.\ndocuments.sort((a, b) => b.score - a.score);\n\n// Pick the top 3 documents to use as context.\nconst topDocuments = documents.slice(0, 3);\n\n// Combine the top documents into one context string.\nconst contextContent = topDocuments\n  .map((doc, index) => `Document ${index + 1}:\\n${doc.pageContent}`)\n  .join(\"\\n\\n\");\n\n// Build the final prompt that combines the context with the user query.\nconst prompt = `Using the following context from documents:\\n\\n${contextContent}\\n\\nAnswer the following question:\\n${userQuery}\\n\\nAnswer:`;\n\n// Return the prompt AND the channel/user info for the Slack reply\nreturn [{ \n  json: { \n    prompt,\n    channel: channelId,\n    user: userId,\n    thread_ts: threadTs,\n    event_ts: eventTs\n  } \n}];"
      },
      "id": "f521d243-1b62-4bc5-972d-736c65c48818",
      "name": "Generate Chat Prompt with Context",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        976
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2.5",
        "options": {}
      },
      "id": "208057c8-8672-41d2-9c99-89e52856a742",
      "name": "OpenRouter Chat Model Interface",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        1344,
        1200
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "GMXrDy8b0Sh3PTZP",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0ADYD0QS58",
          "mode": "list",
          "cachedResultName": "test-bot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        304,
        992
      ],
      "id": "da10aa01-3d0a-4bbb-8abc-dc9cb5bd279f",
      "name": "Slack Trigger",
      "webhookId": "7ca6a7ba-cd7c-401c-8bad-31b4aa0ec313",
      "credentials": {
        "slackApi": {
          "id": "xsFQp0m0dMVJd4pp",
          "name": "Mark slack"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($json.bot_id || $json.user === 'USLACKBOT' || $json.subtype === 'bot_message') {\n  return []; // Return empty array to stop execution\n}\n\n// Extract the message from the Slack event\nconst message = $json.text || \"\";\nconst userId = $json.user || \"\";\nconst channelId = $json.channel || \"\";\nconst threadTs = $json.thread_ts || $json.ts; // For threading replies\nconst eventTs = $json.ts || \"\";\n\n// Clean the message (remove bot mentions if any)\nconst cleaned = message.replace(/<@[^>]+>/g, \"\").trim();\n\n// Return formatted data for the AI\nreturn {\n  json: {\n    question: cleaned,\n    channel: channelId,\n    user: userId,\n    thread_ts: threadTs,\n    event_ts: eventTs\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        960
      ],
      "id": "f485537e-a104-4226-94e9-09a0d11c6805",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{$node[\"Slack Trigger\"].json.channel}}",
          "mode": "id"
        },
        "text": "={{$json.output}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1856,
        960
      ],
      "id": "24b98570-8af6-400c-8434-f82be46e3d92",
      "name": "Send a message",
      "webhookId": "b24da9a9-d60f-41d2-8385-b656fe714bf9",
      "credentials": {
        "slackApi": {
          "id": "xsFQp0m0dMVJd4pp",
          "name": "Mark slack"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        1184
      ],
      "id": "94a697c9-1e4a-4307-998f-171b771bcd70",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1LxPYN2xXStHWzx5",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        528
      ],
      "id": "c4446d82-d1aa-4511-84eb-e990541f2482",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "1LxPYN2xXStHWzx5",
          "name": "OpenAi account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract PDF Content": {
      "main": [
        [
          {
            "node": "Clean and Normalize PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Normalize PDF Text": {
      "main": [
        [
          {
            "node": "Insert Document into Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from Google Drive": {
      "main": [
        [
          {
            "node": "Extract PDF Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model Interface": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Document Text into Chunks": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Document Data for Processing",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Generate Chat Prompt with Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Document Data for Processing": {
      "ai_document": [
        [
          {
            "node": "Insert Document into Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Google Drive for New Files": {
      "main": [
        [
          {
            "node": "Download File from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Relevant Documents from Pinecone": {
      "main": [
        [
          {
            "node": "Generate Chat Prompt with Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Retrieve Relevant Documents from Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Relevant Documents from Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert Document into Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a65e4ce4-772b-4ef9-b94e-63dab0f17359",
  "meta": {
    "templateId": "3192",
    "templateCredsSetupCompleted": true,
    "instanceId": "96ef7db837aca6f281ed8669abca04f2de05b72f70066793a62b8304963113f8"
  },
  "id": "D2eecyTgnx32GPKg",
  "tags": []
}